@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.top-wrapper {
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 800px;
  padding: 35px 0px 0px 0px;
}

.menu {
  max-width: 620px;
  margin: 0 auto;
}
.menu__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__link {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
.menu a {
  position: relative;
}
.menu a:first-child:after {
  content: ".";
  position: absolute;
  top: 0px;
  right: -35px;
}
.menu a:last-child:before {
  content: ".";
  position: absolute;
  top: 0px;
  left: -35px;
}

.about-us {
  padding: 117px 0px 142px 0px;
}
.about-us__container {
  max-width: 67.5%;
  margin: 0 auto;
}
.about-us__icon {
  text-align: center;
  margin: 0px 0px 34px 0px;
}
.about-us__title {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0px 0px 35px 0px;
  color: #353738;
}
.about-us__text {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}

.text-block {
  flex: 1 1 auto;
  padding: 70px 68px 55px 67px;
  position: relative;
}
.text-block__icon {
  text-align: center;
  margin: 0px 0px 31px 0px;
}
.text-block__title {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0px 0px 26px 0px;
  color: #353738;
}
.text-block__text {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
  margin: 0px 0px 40px 0px;
  color: #848789;
}
.text-block__line {
  width: 50px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(53, 55, 56, 0.2);
}
.text-block:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
}

.bike-1__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bike-1__image-big {
  flex: 1 1 66.68%;
  position: relative;
  background-color: #848789;
}
.bike-1__image-big::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../img/bike01_logo.png) 0 0/100% no-repeat;
  width: 10.59%;
  padding-top: 11%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.bike-1__image-big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bike-1__body {
  display: flex;
  flex: 1 1 33.31%;
  flex-direction: column;
}
.bike-1__image-small img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}