@media (max-width: 1234px) {
    
    .menu {
        width: 60%;
        margin: 0 auto;
            &__row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
    
            &__link {
                font-size: 13px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: #4d4959;
            }
    
            &__img {
            }
    }

    .bike-1, .bike-2, .bike-3 {
        &__row {
			display: flex;
			flex-direction: column;
		}

		&__image {
			flex: 1 1 auto;
			position: relative;
			background-color: #848789;
		}

		&__body {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
            text-align: center;
		}

    }

    .text-block {      
            &__text {
                text-align: center;
        }
    }    
}