@media (max-width: 1024px) {
    
    .menu {
        width: 70%;
        margin: 0 auto;
            &__row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
    
            &__link {
                font-size: 13px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: #4d4959;
            }
    
            &__img {
            }
    }
}