@import 'base';

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.top-wrapper {
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
    width: 100%;
    min-height: 800px;
	padding: 35px 0px 0px 0px;
}
.menu {
	max-width: 620px;
	margin: 0 auto;
		&__row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		&__link {
			font-size: 13px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #4d4959;
		}

		&__img {
		}

		a {
			position: relative;
		}

		a:first-child:after {
			content: ".";
			position: absolute;
			top: 0px;
			right: -35px;
		}

		a:last-child:before {
			content: ".";
			position: absolute;
			top: 0px;
			left: -35px;
		}
}

.about-us {
	padding: 117px 0px 142px 0px;

	&__container {
		max-width: 67.5%;
		margin: 0 auto;
	}

	&__icon {
		text-align: center;
		margin: 0px 0px 34px 0px;
	}

	&__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin: 0px 0px 35px 0px;
		color: #353738;
	}

	&__text {
		text-align: center;
		font-size: 18px;
		line-height: 34px;
		color: #848789;
	}
}

.work {}

.text-block {
flex: 1 1 auto;
padding: 70px 68px 55px 67px;
position: relative;

	&__icon {
		text-align: center;
		margin: 0px 0px 31px 0px;
	}

	&__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin: 0px 0px 26px 0px;
		color: #353738;
	}

	&__text {
		text-align: justify;
		font-size: 16px;
		line-height: 1.8;
		margin: 0px 0px 40px 0px;
		color: #848789;
	}

	&__line {
		width: 50px;
		height: 1px;
		margin: 0 auto;
		background-color: rgba(53,55,56,0.2);
	}

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		border: 10px solid transparent;
		border-top: 10px solid #ffffff;
	}
}

.bike-1 {
		&__row {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		&__image {
			flex: 1 1 66.68%;
			position: relative;
			background-color: #848789;
		}

		&__image::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			background: url(../img/bike01_logo.png) 0 0 / 100% no-repeat;
			width: 10.59%;
			padding-top: 11%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}

		&__image img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__body {
			display: flex;
			flex: 1 1 33.32%;
			flex-direction: column;
		}

		&__image-small img{
			width: 100%;
			object-fit: cover;
		}
}

.bike-2 {

	&__row {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}

	&__image {
		flex: 1 1 66.68%;
		position: relative;
		background-color: #848789;
	}

	&__image::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		background: url(../img/bike02_logo.png) 0 0 / 100% no-repeat;
		width: 16.58%;
		padding-top: 14.24%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	&__image img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__body {
		display: flex;
		flex: 1 1 33.31%;
		flex-direction: column;
	}

	&__image-small img{
		width: 100%;
		object-fit: cover;
	}
}

.bike-3 {

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&__image {
		flex: 1 1 33.33%;
		position: relative;
		background-color: #848789;
	}

	&__image::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		background: url(../img/bike03_logo.png) 0 0 / 100% no-repeat;
		width: 39%;
		padding-top: 12.57%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	&__image img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__body {
		display: flex;
		flex: 1 1 33.31%;
		flex-direction: column;
	}

	&__image-small img{
		width: 100%;
		object-fit: cover;
	}
}

.twitter {
	padding: 120px 0px 68px 0px;

	&__container {
		max-width: 1040px;
		margin: 0 auto;
	}

	&__logo {
		text-align: center;
		margin: 0px 0px 37px 0px;
	}

	&__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.1em;
		margin: 0px 0px 27px 0px;
		color: #353738;
		span {
			font-weight: 300;
			color: #848789;
		}
	} 

	&__text {
		text-align: center;
		font-size: 24px;
		line-height: 1.41;
		font-style: italic;
		color: #848789;
		margin: 0px 0px 104px 0px;
	}

	&__page-links {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&__ellipse {
		width: 11px;
		height: 11px;
		background-color: rgba(40,47,53,0.0);
		border: 1px solid #c8c8c8;
		border-radius: 6px;
		margin: 0px 4px;
	}
	&__ellipse:hover {
		background-color: #a9afb3;
	}
}

.fa-twitter {
	color: #56c7ee;
}

.shop {

	&__row {
		display: flex;
		flex-direction: row;
	}

	&__block {
		display: flex;
		flex: 1 1 33.333%;
		flex-direction: row wrap;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}


.block-1 {

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__top {
		display: flex;
		flex-direction: row;
		&__image {
			flex: 1 1 50%;
		}
	}

	&__bottom {
	
	}
}


.block-2 {

	&__row {
		display: flex;
		flex-direction: row;
	}

	&__image {
		flex: 1 1 50%;
	}
}

.block-3 {

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__top {}

	&__bottom {
		display: flex;
		flex-direction: row;

		&__image {
			flex: 1 1 50%;
		}
	}
}
