@import 'base';

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.top-wrapper {
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
    width: 100%;
    min-height: 800px;
	padding: 35px 0px 0px 0px;
	@media (max-width: 767px) {
		padding: 0;
	}
}

.header {
	position: fixed;
	padding: 10px 10px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

		&__body {
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: 767px) {
				
			}
			span {
				color: #4d4959;
				@media (max-width: 767px) {
					color: #ffffff;
				}
			}
		}

		&__menu {
			width: 620px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 0px 10px 0px;
			@media (max-width: 767px) {
				display: flex;
				flex-direction: column;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #4d4959;
			}
		}

		&__burger {
			@media (max-width: 767px) {
				display: block;
				position: relative;
				width: 30px;
				height: 20px;
				span {
					position: absolute;
					background-color: #ffffff;
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					top: 9px;
				}
				&:before,
				&:after {
					content: '';
					background-color: #ffffff;
					position: absolute;
					width: 100%;
					height: 2px;
					left: 0;
				}
				&::before {
					top: 0;
				}
				&:after {
					bottom: 0;
				}
			}
		}

		&__link {
			font-size: 13px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #4d4959;
			@media (max-width: 767px) {
				color: #ffffff;
				font-size: 16px;
				span {}
			}
		}

		&__img {
			@media (max-width: 767px) {
				position: absolute;
				width: 70px;
				top: 0;
				left: 0;
				padding: 15px 0px 0px 15px;
			}
			img {
				max-width: 100%;
				@media (max-width: 767px) {

				}
			}
		}
}

.about-us {
	padding: 117px 0px 142px 0px;

	&__container {
		max-width: 67.5%;
		margin: 0 auto;
	}

	&__icon {
		text-align: center;
		margin: 0px 0px 34px 0px;
	}

	&__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin: 0px 0px 35px 0px;
		color: #353738;
	}

	&__text {
		text-align: center;
		font-size: 18px;
		line-height: 34px;
		color: #848789;
	}
}

.work {}

.text-block {
flex: 1 1 auto;
padding: 70px 68px 55px 67px;
position: relative;

	&__icon {
		text-align: center;
		margin: 0px 0px 31px 0px;
	}

	&__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin: 0px 0px 26px 0px;
		color: #353738;
	}

	&__text {
		text-align: justify;
		font-size: 16px;
		line-height: 1.8;
		margin: 0px 0px 40px 0px;
		color: #848789;
	}

	&__line {
		width: 50px;
		height: 1px;
		margin: 0 auto;
		background-color: rgba(53,55,56,0.2);
	}

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		border: 10px solid transparent;
		border-top: 10px solid #ffffff;
	}
}

@media (max-width: 1234px) {
	.text-block {
		padding: 40px 67px;
	}
}

@media (max-width: 1234px) {
	.text-block {
		&__text {
			text-align: center;
		}
	}
}

.bike-1 {
		&__row {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		&__image {
			flex: 1 1 66.68%;
			position: relative;
			background-color: #848789;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__image::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			background: url(../img/bike01_logo.png) 0 0 / 100% no-repeat;
			width: 10.59%;
			padding-top: 11%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}

		&__body {
			display: flex;
			flex: 1 1 33.32%;
			flex-direction: column;
		}

		&__image-small img {
			width: 100%;
			object-fit: cover;
		}
}

.bike-2 {

	&__row {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}

	&__image {
		flex: 1 1 66.68%;
		position: relative;
		background-color: #848789;
	}

	&__image::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		background: url(../img/bike02_logo.png) 0 0 / 100% no-repeat;
		width: 16.58%;
		padding-top: 14.24%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	&__image img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__body {
		display: flex;
		flex: 1 1 33.31%;
		flex-direction: column;
	}

	&__image-small img{
		width: 100%;
		object-fit: cover;
	}
}

@media (max-width: 1234px) {
	.bike-1, .bike-2 {
		&__row {
			display: flex;
			flex-direction: column;
		}

		&__image-small {
			display: none;
		}
	}
}

.bike-3 {

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&__image-left, 
	&__image-right {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		flex: 1 1 33.33%;
		position: relative;
		background-color: #848789;
	}

	&__image-left::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		background: url(../img/bike03_logo.png) 0 0 / 100% no-repeat;
		width: 39%;
		padding-top: 12.57%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	&__body {
		display: flex;
		flex: 1 1 33.31%;
		flex-direction: column;
	}

	&__image-small img{
		width: 100%;
		object-fit: cover;
	}
}

@media (max-width: 1234px) {
	.bike-3 {
		&__row {
			display: flex;
			flex-flow: row wrap;
			//max-width: 1000px;
		}

		&__image-left, 
		&__image-right {
			order: 1;
			flex: 1 1 50%;
			img {
				max-width: 100%;
			}
		}

		&__body {
			
			order: 2;
		}
	}
}

.twitter {
	padding: 120px 0px 68px 0px;

	&__container {
		max-width: 1040px;
		margin: 0 auto;
	}

	&__logo {
		text-align: center;
		margin: 0px 0px 37px 0px;
	}

	&__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.1em;
		margin: 0px 0px 27px 0px;
		color: #353738;
		span {
			font-weight: 300;
			color: #848789;
		}
	} 

	&__text {
		text-align: center;
		font-size: 24px;
		line-height: 1.41;
		font-style: italic;
		color: #848789;
		margin: 0px 0px 104px 0px;
	}

	&__page-links {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&__ellipse {
		width: 11px;
		height: 11px;
		background-color: rgba(40,47,53,0.0);
		border: 1px solid #c8c8c8;
		border-radius: 6px;
		margin: 0px 4px;
	}
	&__ellipse:hover {
		background-color: #a9afb3;
	}
}

.fa-twitter {
	color: #56c7ee;
}

.shop {
	padding: 0px 0px 75px 0px;
	background-color: #282f35;
	
	&__content {
		margin: 0px 0px 75px 0px;
	}

	&__row {
		display: flex;
		flex-direction: row;
	}

	&__block {
		flex: 1 1 33.333%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__btn {
		text-align: center;
		button {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			padding: 1.25% 3.75%;
			color: #ffffff;
			background-color: rgba(255,255,255,0.0);
			border: 1px solid rgba(255,255,255,0.49);
		}
	}
}


.block-1 {
	&__column {
		display: flex;
		flex-direction: column
	}

	&__image {
		flex: 1 1 50%;
	}
}

.block-1 {

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__top {
		display: flex;
		flex-direction: row;
		flex: 1 1 50%;
	}

	&__bottom {
		flex: 1 1 50%;
	}

	&__image {
		flex: 1 1 50%;
	}
}



.block-2 {

	&__row {
		display: flex;
		flex-direction: row;
	}

	&__image {
		flex: 1 1 50%;
	}
}


.block-3 {

	&__column {
		display: flex;
		flex-direction:  column;
	}

	&__top {
		flex: 1 1 50%;
		background-color: rgba(100,194,158,0.8);
		position: relative;
	}

	&__top:before {
		content: '';
		text-align: center;
		background-color: rgba(100,194,158,0.8);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__top::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 50%;
		background: url(../img/shop_logo.png) 0 0 / 100% no-repeat;
		width: 9.56%;
		padding-top: 5.62%;
		transform: translate(-50%, 0%);
		z-index: 1;
	}


	&__image {
		flex: 1 1 50%;
		position: relative;
		p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 50%);
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;
			z-index: 2;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		flex: 1 1 50%;
	}
}

.mailing {
	padding: 109px 0px 111px 0px;

	&__logo {
		text-align: center;
		margin: 0px 0px 39px 0px;
	}

	&__slogan {
		text-align: center;
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
		margin: 0px 0px 35px 0px;
	}

	&__feedback {}
}
.feedback {

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&__input {
		margin: 0px 8px 0px 0px;
		width: 25%;
		input {
			width: 100%;
			font-size: 20px;
			line-height: 24px;
			color: #848789;
			background-color: #ffffff;
			border: 1px solid #d3d7d9;
			padding: 6%;
		}
		::placeholder {
			font-size: 20px;
			line-height: 24px;
			font-style: italic;
			color: #929292;
			opacity: 0.5;
		}
	}

	&__btn {
		width: 7.875%;
		button {
			display: block;
			width: 100%;
			height: 100%;
			background-color: #64c29e;
			font-size: 24px;
			line-height: 24px;
			font-weight: 300;
			color: #ffffff;
		}
	}
}

.footer {
	padding: 108px 0px;

	&__container {
		max-width: 68.75%;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__contacts {
		p {
			font-size: 13.9px;
			line-height: 1.2;
			font-style: italic;
			color: #848789;
		}
		:first-child {
			font-size: 16px;
			line-height: 1.2;
			font-weight: 700;
			color: #848789;
		}
	}

	&__development {
		span {
			display: inline-block;
			font-size: 13.9px;
			line-height: 1.2;
			font-style: italic;
			color: #848789;
			transform: translateY(40%);
			margin: 0px 9px 0px 0px;
		}
		img {
		}
	}
}
.contacts {

	&__text {}
}

.links {
	margin: 0px 0px 0px -75px;
	&__item {
		padding: 0px 7.5px;
	}
}

.fa-twitter {
	width: 35px;
	height: 34px;
	font-size: 24px;
	border-radius: 16.5px;
	background-color: #78cdf0;
	color: #ffffff;
	position: relative;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
		font-size: 1.4rem;
	}
}
.fa-facebook {
	width: 35px;
	height: 34px;
	border-radius: 16.5px;
	background-color: #537bbd;
	color: #ffffff;
	position: relative;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-55%, -45%);
		font-size: 1.4rem;
	}
	
}
.fa-pinterest {
	width: 35px;
	height: 34px;
	border-radius: 16.5px;
	background-color: #eb5755;
	color: #ffffff;
	position: relative;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
		font-size: 1.4rem;
	}
}