@import 'base';

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.top-wrapper {
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
    width: 100%;
    min-height: 800px;
	padding: 35px 0px 0px 0px;
}
.menu {
	max-width: 620px;
	margin: 0 auto;
		&__row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		&__link {
			font-size: 13px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #4d4959;
		}

		&__img {
		}

		a {
			position: relative;
		}

		a:first-child:after {
			content: ".";
			position: absolute;
			top: 0px;
			right: -35px;
		}

		a:last-child:before {
			content: ".";
			position: absolute;
			top: 0px;
			left: -35px;
		}
}

.about-us {
	padding: 117px 0px 142px 0px;

	&__container {
		max-width: 67.5%;
		margin: 0 auto;
	}

	&__icon {
		text-align: center;
		margin: 0px 0px 34px 0px;
	}

	&__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin: 0px 0px 35px 0px;
		color: #353738;
	}

	&__text {
		text-align: center;
		font-size: 18px;
		line-height: 34px;
		color: #848789;
	}
}

.work {}

.text-block {
padding: 70px 67px 64px 68px;
	&__icon {
		text-align: center;
		margin: 0px 0px 31px 0px;
	}

	&__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin: 0px 0px 26px 0px;
		color: #353738;
	}

	&__text {
		text-align: center;
		font-size: 16px;
		line-height: 30px;
		margin: 0px 0px 40px 0px;
		color: #848789;
	}

	&__line {
		width: 50px;
		height: 1px;
		margin: 0 auto;
		background-color: rgba(53,55,56,0.2);
	}
}

.bike-1 {
	padding: 0px 0px 0px 0px;

		&__row {
			display: flex;
			flex-direction: row;
			//height: 600px;
			align-items: flex-end;
		}

		&__image-big {
			flex: 1 1 66.68%;
			min-height: 600px;
		}

		&__image-big img{
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}

		&__body {
			position: relative;
			min-height: 600px;
			display: flex;
			flex: 1 1 33.31%;
			flex-direction: column;
			border: 1px dotted black;
		}

		&__content {
		}

		&__image-small {
			position: relative;
		}

		&__image-small img{
			position: absolute;
			max-width: 100%;
			object-fit: cover;
		}
}